@charset "utf-8";

//==========================================================================
//_utility.scss
//==========================================================================

//-----------------------------------------------------------------
//others
//-----------------------------------------------------------------
label{
  display: flex;
  align-items: center;
}
//-----------------------------------------------------------------
//color
//-----------------------------------------------------------------
.u-c-main {
  color: $colorMain !important;
}

.u-c-plain {
  color: $colorPlain !important;
}

.u-c-white {
  color: #fff !important;
}

.black {
  color: #333 !important;
}

.white {
  color: #fff !important;
}

.gold{
  color: gold !important;
}
.txt_sh_white{
  text-shadow: 2px 2px 2px #fff;
}

.blue {
  color: #2685E9 !important;
}

.deep_blue {
  color: #1b3377 !important;
}

.red {
  color: red !important;
}

.coral_pink {
  color: #FA647C !important;
}

.orange {
  color: #f1693B !important;
}

.pale_orange {
  color: #FFF4D9 !important;
}

.pale_yellow {
  color: #fffec8 !important;
}

.yellow {
  color: #F5D560 !important;
}

.dark_yellow {
  color: #bfb43f !important;
}

.emerald {
  color: #23acb0 !important;
}

.vivid_emerald {
  color: #55CDCC !important;
}

//-----------------------------------------------------------------
//background-color
//-----------------------------------------------------------------
.u-bg-alpha {
  background-color: transparent !important;
}

.u-bg-main {
  background-color: $colorMain !important;
}

.u-bg-plain {
  background-color: $colorPlain !important;
}

.u-bg-focus {
  background-color: $colorFocus !important;
}

.u-bg-border {
  background-color: $colorBorder !important;
}

.u-bg-white {
  background-color: #fff !important;
}

.u-bg-gray01 {
  background-color: $colorGray01 !important;
}

.u-bg-gray02 {
  background-color: $colorGray02 !important;
}

.bg_white {
  background-color: #fff !important;
}

.bg_gray {
  background-color: #eaeaea !important;
}
.bg_dark_gray {
  background-color: #afafaf !important;
}

.bg_pale_cream {
  background-color: #e3e3d9 !important;
}

.bg_black {
  background: #000 !important;
  color: #fff;
}

.bg_dark {
  background: #202020 !important;
  color: #fff;
}

.bg_pale_blue {
  background-color: #ABC8E6 !important;
}

.bg_sky_blue {
  background-color: #3CFFFF !important;
}

.bg_blue {
  background-color: #1400FF !important;
}

.bg_deep_blue {
  background: #1b3377;
  border-radius: 15px 15px 0 0;
}

.bg_moss_green {
  background-color: #008300;
}

.bg_green {
  background-color: #80FE80;
}

.bg_pale_green {
  background-color: #C0FEC0;
}

.bg_emerald {
  background-color: #55CDCC;
  color: #fff !important;
}

.bg_pale_emerald {
  background-color: #99E1E0;
}

.bg_vivid_yellow {
  background-color: #FEFF00 !important;
}

.bg_yellow {
  background-color: #FFFFA1 !important;
}

.bg_pale_yellow {
  background-color: #F9E69F;
}

.bg_dark_yellow {
  background-color: #d5c94c;
}

.bg_orange {
  background-color: #F1693B;
}

.bg_pink {
  background-color: #FFC0FF;
}

.bg_vivid_pink {
  background-color: #FA647C;
}

.bg_red {
  background-color: #FF0000;
}

.bg_pale_pink {
  background-color: #FAC6C4;
}


.box_shdw_primary{
  box-shadow: 1px 1px 10px rgba(255, 217, 0, 0.372);
}



//-----------------------------------------------------------------
//clearfix
//-----------------------------------------------------------------
.u-clr:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

//-----------------------------------------------------------------
//display
//-----------------------------------------------------------------
.none{
  display: none !important;
}
.sp{
  display: none !important;
  @include smMax {
    display: block;
  }
}
.pc{
  display: block !important;
  @include smMax{
    display: none;
  }
}
.u-xs-min {
  @include xsMax {
    display: none !important;
  }
}

.u-xs-max {
  @include xsMin {
    display: none !important;
  }
}

.u-sm-min {
  @include smMax {
    display: none !important;
  }
}

.u-sm-max {
  @include smMin {
    display: none !important;
  }
}

.u-md-min {
  @include mdMax {
    display: none !important;
  }
}

.u-md-max {
  @include mdMin {
    display: none !important;
  }
}

.u-lg-min {
  @include lgMax {
    display: none !important;
  }
}

.u-lg-max {
  @include lgMin {
    display: none !important;
  }
}

.flex,
.wrap,
.between,
.around,
.evenly,
.column,
.clm_to_row,
.clm_to_row_r,
.to_clm,
.to_clmR,
.x_start,
.x_end,
.x_start_to_end,
.x_end_to_start,
.y_start,
.y_end,
.y_start_to_end,
.y_end_to_start,
.f_cc,
.f_xc,
.f_yc,
.f_1 {
  display: flex;
}

.column,
.clm_to_row,
.clm_to_row_r {
  flex-direction: column;
}

.clm_to_row {
  @include mdMax {
    flex-direction: row;
  }
}

.clm_to_rowR {
  @include mdMax {
    flex-direction: row-reverse;
  }
}

.to_clm {
  @include mdMax {
    flex-direction: column;
  }
}

.to_clmR {
  @include mdMax {
    flex-direction: column-reverse;
  }
}

.wrap {
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.evenly {
  justify-content: space-evenly;
}

.f_cc {
  align-items: center;
  justify-content: center;
}

.f_xc {
  justify-content: center;
}

.x_start {
  justify-content: flex-start;
}

.x_end {
  justify-content: flex-end;
}

.f_yc {
  align-items: center;
}

.y_start {
  align-items: flex-start;
}

.y_end {
  align-items: flex-end;
}

.f_1 {
  flex: 1;
}

//-----------------------------------------------------------------
//position
//-----------------------------------------------------------------
.relative {
  position: relative;
  z-index: 2;
}

.absolute {
  position: absolute;
  z-index: 5;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.absolute_cc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.absolute_xc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.absolute_yc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.z-1{
  z-index: -1;
}
.z0{
  z-index: 0;
}
.z1{
  z-index: 1;
}
.z2{
  z-index: 2;
}
//-----------------------------------------------------------------
//font-family
//-----------------------------------------------------------------
.serif {
  font-family: $font-serif;
}
.sans{
  font-family: $font-sans-serif;
}
.jp {
  font-family: $font-ja
}
.en {
  font-family: $font-en;
}

//-----------------------------------------------------------------
//font-size
//-----------------------------------------------------------------
.u-fz-20 {
  font-size: 2rem !important;
}

.u-fz-19 {
  font-size: 1.9rem !important;
}

.u-fz-18 {
  font-size: 1.8rem !important;
}

.u-fz-17 {
  font-size: 1.7rem !important;
}

.u-fz-16 {
  font-size: 1.6rem !important;
}

.u-fz-15 {
  font-size: 1.5rem !important;
}

.u-fz-14 {
  font-size: 1.4rem !important;
}

.u-fz-13 {
  font-size: 1.3rem !important;
}

.u-fz-12 {
  font-size: 1.2rem !important;
}

.u-fz-11 {
  font-size: 1.1rem !important;
}

.u-fz-10 {
  font-size: 1rem !important;
}

h1 .h1 {
  font-size: clamp(28px, calc(1.75rem + ((1vw - 7.68px) * 1.1905)), 36px);
}

h2,
.h2 {
  font-size: clamp(26px, calc(1.625rem + ((1vw - 3.75px) * 1.547)), 38px);
}

h3,
.h3 {
  font-size: clamp(16px, calc(1rem + ((1vw - 3.75px) * 1.877)), 45px);
}


.fz80_61 {
  font-size: clamp(61px, calc(3.8125rem + ((1vw - 3.75px) * 1.784)), 80px);
}

.fz80_45 {
  font-size: clamp(45px, calc(2.8125rem + ((1vw - 3.75px) * 3.2864)), 80px);
}

.fz80_43 {
  font-size: clamp(43px, calc(2.6875rem + ((1vw - 3.75px) * 2.3948)), 80px);
}

.fz80_42 {
  font-size: clamp(42px, calc(2.625rem + ((1vw - 3.75px) * 3.5681)), 80px);
}

.fz80_40 {
  font-size: clamp(40px, calc(2.5rem + ((1vw - 3.75px) * 2.589)), 80px);
}

.fz67_34 {
  font-size: clamp(34px, calc(2.125rem + ((1vw - 3.75px) * 3.0986)), 67px);
}

.fz64_30 {
  font-size: clamp(30px, calc(1.875rem + ((1vw - 3.75px) * 2.2006)), 64px);
}

.fz56_45 {
  font-size: clamp(45px, calc(2.8125rem + ((1vw - 3.75px) * 1.0329)), 56px);
}

.fz51_35 {
  font-size: clamp(35px, calc(2.1875rem + ((1vw - 3.75px) * 1.0356)), 51px);
}

.fz49-34 {
  font-size: clamp(34px, calc(2.125rem + ((1vw - 3.75px) * 1.4085)), 49px);
}

.fz42_26 {
  font-size: clamp(26px, calc(1.625rem + ((1vw - 3.75px) * 1.0356)), 42px);
}

.fz40_26 {
  font-size: clamp(26px, calc(1.625rem + ((1vw - 3.75px) * 0.9061)), 40px);
}

.fz_40-24 {
  font-size: clamp(24px, calc(1.5rem + ((1vw - 3.75px) * 1.0356)), 40px);
}

.fz40_20 {
  font-size: clamp(20px, calc(1.25rem + ((1vw - 3.75px) * 1.2945)), 40px);
}

.fz39-15 {
  font-size: clamp(15px, calc(0.9375rem + ((1vw - 3.75px) * 2.2535)), 39px);
}

.fz35-21 {
  font-size: clamp(21px, calc(1.3125rem + ((1vw - 3.75px) * 0.9061)), 35px);
}

.fz34-17 {
  font-size: clamp(17px, calc(1.0625rem + ((1vw - 3.75px) * 1.5962)), 34px);
}

.fz32_28 {
  font-size: clamp(28px, calc(1.75rem + ((1vw - 3.75px) * 0.2589)), 32px);
}

.fz32_16 {
  font-size: clamp(16px, calc(1rem + ((1vw - 3.75px) * 1.0356)), 32px);
}

.fz32_15 {
  font-size: clamp(15px, calc(0.9375rem + ((1vw - 3.75px) * 1.1003)), 32px);
}

.fz31_21 {
  font-size: clamp(21px, calc(1.3125rem + ((1vw - 3.75px) * 0.6472)), 31px);
}

.fz28 {
  font-size: 28px;
}

.fz26 {
  font-size: 26px;
}

.fz24{
  font-size: 24px;
}

.fz22 {
  font-size: 22px;
}

.fz21 {
  font-size: 21px;
}

.fz20 {
  font-size:20px;
}
.fz18 {
  font-size: 18px;
}

.fz17 {
  font-size: 17px;
}

.fz16 {
  font-size: 16px;
}

.fz15 {
  font-size: 15px;
}

.fz14 {
  font-size: 14px;
}

.fz13 {
  font-size: 13px;
}

.fz12{
  font-size: 12px;
}
.fz10 {
  font-size: 10px;
}

.fz8 {
  font-size: 8px;
}

.fz6 {
  font-size: 6px;
}

.dsc {
  text-align: justify;
}

.dsc_sm {
  font-size: 16px;
  text-align: justify;

  @include xsMax {
    font-size: 12;
  }
}
.lh2{
  line-height: 2;
}
.lh18{
line-height: 1.8;
}
.lh15{
  line-height: 1.5;
}
.lh12{
line-height: 1.2;
}

.dsc_ss {
  font-size: clamp(10px, calc(0.625rem + ((1vw - 3.75px) * 0.3756)), 14px);
}

.txt_xxxl {
  font-size: clamp(100px, lg_vw(200), 200px);

  @include smMax {
    font-size: xs_vw(70);
  }
}
.txt_xxl {
  font-size: clamp(70px, lg_vw(105), 105px);

  @include smMax {
    font-size: xs_vw(70);
  }
}

.txt_xl {
  font-size: clamp(24px, lg_vw(40), 40px);

  @include smMax {
    font-size: xs_vw(24);
  }
}

.txt_lg {
  font-size: clamp(20px, lg_vw(30), 30px);

  @include smMax {
    font-size: xs_vw(20);
  }
}

.txt_md {
  font-size: clamp(18px, lg_vw(26), 26px);

  @include smMax {
    font-size: xs_vw(18);
  }
}

.txt_sm {
  font-size: clamp(16px, lg_vw(20), 20px);

  @include smMax {
    font-size: xs_vw(16);
  }
}

.txt_xs {
  font-size: clamp(12px, lg_vw(14), 14px);

  @include smMax {
    font-size: xs_vw(12);
  }
}

.txt_xxs {
  font-size: clamp(10px, lg_vw(12), 12px);

  @include smMax {
    font-size: xxs_vw(8);
  }
}


//-----------------------------------------------------------------
//font-weight
//-----------------------------------------------------------------
.u-fw-400 {
  font-weight: 400 !important;
}

.u-fw-700 {
  font-weight: 700 !important;
}

.bold {
  font-weight: bold;
}
.light{
  font-weight: lighter;
}
//-----------------------------------------------------------------
//text-decoration
//-----------------------------------------------------------------
.u-td-ul {
  text-decoration: underline !important;
}

.u-td-none {
  text-decoration: none !important;
}

.u_bar {
  display: block;
  width: 72px;
  border-bottom: 3px solid #1b3377;
  border-image: linear-gradient(to right, #1b3377 0%, #77b6ff 100%);
  border-image-slice: 1;
  margin: 0 auto 10px;
}

.u_line {
  text-decoration: underline;
}

//-----------------------------------------------------------------
//text-align
//-----------------------------------------------------------------
.txt_r {
  text-align: right !important;
}

.txt_c {
  text-align: center !important;
}

.txt_l {
  text-align: left !important;
}

.txt_jst {
  text-align: justify;
}

//-----------------------------------------------------------------
//vertical-align
//-----------------------------------------------------------------
.va_t {
  vertical-align: top !important;
}

.va_m {
  vertical-align: middle !important;
}

.va_b {
  vertical-align: bottom !important;
}

//-----------------------------------------------------------------
//border
//-----------------------------------------------------------------


.under_bar_prm {
  background: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 60%, $colorPrimary 60%, $colorPrimary 100%);
}

.under_bar_sec {
  background: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 40%, $colorSecondary 40%, $colorSecondary 100%);
}



.u-bd {
  border: 1px solid $colorBorder !important;
}

.u-bd-t {
  border-top: 1px solid $colorBorder !important;
}

.u-bd-r {
  border-right: 1px solid $colorBorder !important;
}
.u-bd-b {
  border-bottom: 1px solid $colorBorder !important;
}
.u-bd-l {
  border-left: 1px solid $colorBorder !important;
}

.u-bd-main {
  border-color: $colorMain !important;
}

.u-bd-white {
  border-color: #fff !important;
}


//-----------------------------------------------------------------
//padding
//-----------------------------------------------------------------
.u-p-0 {
  padding: 0 !important;
}

.u-p-5 {
  padding: 5px !important;
}

.u-p-10 {
  padding: 10px !important;
}

.u-p-15 {
  padding: 15px !important;
}

.u-p-20 {
  padding: 20px !important;
}

.u-p-25 {
  padding: 25px !important;
}

.u-p-30 {
  padding: 30px !important;
}

.u-p-35 {
  padding: 35px !important;
}

.u-p-40 {
  padding: 40px !important;
}

.u-p-45 {
  padding: 45px !important;
}

.u-p-50 {
  padding: 50px !important;
}

//padding-top
.u-pt-0 {
  padding-top: 0 !important;
}

.u-pt-5 {
  padding-top: 5px !important;
}

.u-pt-10 {
  padding-top: 10px !important;
}

.u-pt-15 {
  padding-top: 15px !important;
}

.u-pt-20 {
  padding-top: 20px !important;
}

.u-pt-25 {
  padding-top: 25px !important;
}

.u-pt-30 {
  padding-top: 30px !important;
}

.u-pt-35 {
  padding-top: 35px !important;
}

.u-pt-40 {
  padding-top: 40px !important;
}

.u-pt-45 {
  padding-top: 45px !important;
}

.u-pt-50 {
  padding-top: 50px !important;
}

.u-pt-xs {
  padding-top: $margin-xs !important;

  @include smMax {
    padding-top: $margin-xs * 0.5 !important;
  }
}

.u-pt-sm {
  padding-top: $margin-sm !important;

  @include smMax {
    padding-top: $margin-sm * 0.5 !important;
  }
}

.u-pt-md {
  padding-top: $margin-md !important;

  @include smMax {
    padding-top: $margin-md * 0.5 !important;
  }
}

.u-pt-lg {
  padding-top: $margin-lg !important;

  @include smMax {
    padding-top: $margin-lg * 0.5 !important;
  }
}

.u-pt-xl {
  padding-top: $margin-xl !important;

  @include smMax {
    padding-top: $margin-xl * 0.5 !important;
  }
}

//padding-bottom
.u-pb-0 {
  padding-bottom: 0 !important;
}

.u-pb-5 {
  padding-bottom: 5px !important;
}

.u-pb-10 {
  padding-bottom: 10px !important;
}

.u-pb-15 {
  padding-bottom: 15px !important;
}

.u-pb-20 {
  padding-bottom: 20px !important;
}

.u-pb-25 {
  padding-bottom: 25px !important;
}

.u-pb-30 {
  padding-bottom: 30px !important;
}

.u-pb-35 {
  padding-bottom: 35px !important;
}

.u-pb-40 {
  padding-bottom: 40px !important;
}

.u-pb-45 {
  padding-bottom: 45px !important;
}

.u-pb-50 {
  padding-bottom: 50px !important;
}

.u-pb-xs {
  padding-bottom: $margin-xs !important;

  @include smMax {
    padding-bottom: $margin-xs * 0.5 !important;
  }
}

.u-pb-sm {
  padding-bottom: $margin-sm !important;

  @include smMax {
    padding-bottom: $margin-sm * 0.5 !important;
  }
}

.u-pb-md {
  padding-bottom: $margin-md !important;

  @include smMax {
    padding-bottom: $margin-md * 0.5 !important;
  }
}

.u-pb-lg {
  padding-bottom: $margin-lg !important;

  @include smMax {
    padding-bottom: $margin-lg * 0.5 !important;
  }
}

.u-pb-xl {
  padding-bottom: $margin-xl !important;

  @include smMax {
    padding-bottom: $margin-xl * 0.5 !important;
  }
}

  .to_rowgap10{
    row-gap: 10px;
  }
  .to_colgap10{
    column-gap: 10px;
  }
  .gap10{
    row-gap: 10px;
    column-gap: 10px;
  }
.pd05em{
  padding: 0 0.5em;
}
.p50 {
  padding: 50px !important;
}

.p40 {
  padding: 40px !important;
}

.p30 {
  padding: 30px !important;
}

.p20 {
  padding: 20px !important;
}

.p10 {
  padding: 10px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pb50 {
  padding-bottom: 50px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb10 {
  padding-bottom: 10px;
}

.pr50 {
  padding-right: 50px;
}

.pr40 {
  padding-right: 40px;
}

.pr30 {
  padding-right: 30px;
}

.pr20 {
  padding-right: 20px;
}

.pr10 {
  padding-right: 10px;
}

.pl50 {
  padding-left: 50px;
}

.pl40 {
  padding-left: 40px;
}

.pl30 {
  padding-left: 30px;
}

.pl20 {
  padding-left: 20px;
}

.pl10 {
  padding-left: 10px;
}

//-----------------------------------------------------------------
//margin
//-----------------------------------------------------------------

.u-m-0 {
  margin: 0 !important;
}

.u-m-auto {
  margin: auto !important;
}

.u-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-my-auto {
  margin-top: auto !important;

  margin-bottom: auto !important;
}

//margin-top
.u-mt-0 {
  margin-top: 0 !important;
}

.u-mt-5 {
  margin-top: 5px !important;
}

.u-mt-10 {
  margin-top: 10px !important;
}

.u-mt-15 {
  margin-top: 15px !important;
}

.u-mt-20 {
  margin-top: 20px !important;
}

.u-mt-25 {
  margin-top: 25px !important;
}

.u-mt-30 {
  margin-top: 30px !important;
}

.u-mt-35 {
  margin-top: 35px !important;
}

.u-mt-40 {
  margin-top: 40px !important;
}

.u-mt-45 {
  margin-top: 45px !important;
}

.u-mt-50 {
  margin-top: 50px !important;
}

.u-mt-xs {
  margin-top: $margin-xs !important;

  @include smMax {
    margin-top: $margin-xs * 0.5 !important;
  }
}

.u-mt-sm {
  margin-top: $margin-sm !important;

  @include smMax {
    margin-top: $margin-sm * 0.5 !important;
  }
}

.u-mt-md {
  margin-top: $margin-md !important;

  @include smMax {
    margin-top: $margin-md * 0.5 !important;
  }
}

.u-mt-lg {
  margin-top: $margin-lg !important;

  @include smMax {
    margin-top: $margin-lg * 0.5 !important;
  }
}

.u-mt-xl {
  margin-top: $margin-xl !important;

  @include smMax {
    margin-top: $margin-xl * 0.5 !important;
  }
}

//margin-bottom
.u-mb-0 {
  margin-bottom: 0 !important;
}

.u-mb-5 {
  margin-bottom: 5px !important;
}

.u-mb-10 {
  margin-bottom: 10px !important;
}

.u-mb-15 {
  margin-bottom: 15px !important;
}

.u-mb-20 {
  margin-bottom: 20px !important;
}

.u-mb-25 {
  margin-bottom: 25px !important;
}

.u-mb-30 {
  margin-bottom: 30px !important;
}

.u-mb-35 {
  margin-bottom: 35px !important;
}

.u-mb-40 {
  margin-bottom: 40px !important;
}

.u-mb-45 {
  margin-bottom: 45px !important;
}

.u-mb-50 {
  margin-bottom: 50px !important;
}

.u-mb-xs {
  margin-bottom: $margin-xs !important;

  @include smMax {
    margin-bottom: $margin-xs * 0.5 !important;
  }
}

.u-mb-sm {
  margin-bottom: $margin-sm !important;

  @include smMax {
    margin-bottom: $margin-sm * 0.5 !important;
  }
}

.u-mb-md {
  margin-bottom: $margin-md !important;

  @include smMax {
    margin-bottom: $margin-md * 0.5 !important;
  }
}

.u-mb-lg {
  margin-bottom: $margin-lg !important;

  @include smMax {
    margin-bottom: $margin-lg * 0.5 !important;
  }
}

.u-mb-xl {
  margin-bottom: $margin-xl !important;

  @include smMax {
    margin-bottom: $margin-xl * 0.5 !important;
  }
}

.m0 {
  margin: 0;
}

.mA {
  margin: auto;
}

.mtA {
  margin-top: auto;
}

.mbA {
  margin-bottom: auto;
}

.mrA {
  margin-right: auto;
}

.mlA {
  margin-left: auto;
}

.x_mA {
  margin-right: auto;
  margin-left: auto;
}

.y_mA {
  margin-top: auto;
  margin-bottom: auto;
}

//-----------------------------------------------------------------
//width
//-----------------------------------------------------------------
.w100v {
  width: 100vw;
}

.w90v {
  width: 90vw;
}

.w80v {
  width: 80vw;
}

.w70v {
  width: 70vw;
}

.w60v {
  width: 60vw;
}

.w50v {
  width: 50vw;
}

.w40v {
  width: 40vw;
}

.w30v {
  width: 30vw;
}

.w20v {
  width: 20vw;
}

.w10v {
  width: 10vw;
}

.w100p {
  width: 100%;
}

.w90p {
  width: 90%;
}

.w80p {
  width: 80%;
}

.w70p {
  width: 70%;
}

.w60p {
  width: 60%;
}

.w55p {
  width: 55%;
}

.w52p {
  width: 52%;
}

.w50p {
  width: 50%;
}

.w49p {
  width: 49%;
}

.w48p {
  width: 48%;
}

.w47p {
  width: 47%;
}

.w45p {
  width: 45%;
}

.w40p {
  width: 40%;
}

.w30p {
  width: 30%;
}

.w20p {
  width: 20%;
}

.w10p {
  width: 10%;
}
.w900{
  width: 900px;
}
.w800{
  width: 800px;
}
.w750{
  width: 750px;
}
.w700{
  width: 700px;
}
.w650{
  width: 650px;
}
.w600{
  width: 600px;
}
.w550{
  width: 550px;
}
.w_fit {
  width: fit-content !important;
}
.w_min{
  width: min-content !important;
}
.w_max{
  width: max-content !important;
}
.w_A {
  width: auto;
}