@charset "utf-8";

//==========================================================================
//_inner.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-inner
//-----------------------------------------------------------------
.l-inner {
  padding-left: sm_vw(30);
  padding-right: sm_vw(30);
  margin-left: auto;
  margin-right: auto;

  @include smMin {
    max-width: $lg + px;
  }

  @include smMax {
    padding-left: xs_vw(10);
    padding-right: xs_vw(10);

  }
}