@charset "utf-8";

//==========================================================================
//_main.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-main
//-----------------------------------------------------------------
.l-main {
  display: block;
  font-size: 1.8rem;
  line-height: 1.5;
  padding-bottom: 120px;
  @include smMax {
    padding-bottom: sm_vw(90);
  }
}


