@charset "utf-8";

//==========================================================================
//_accordion.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-accordion-01
//-----------------------------------------------------------------
.c-accordion-01 {
  > dt {
    text-align: center;
    padding: 30px;
    background: $colorMain;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    @include smMax {
      padding: sm_vw(15);
      font-size: sm_vw(18);
    }
    &:before,
    &:after {
      content: "";
      width: 24px;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 50%;
      right: 40px;
      transition: 0.2s ease;
      @include smMax {
        right: sm_vw(16);
        width: sm_vw(12);
      }
    }
    &:after {
      transform: rotate(90deg);
    }
  }
  > dt.is-active {
    &:after {
      transform: rotate(180deg);
    }
  }
  > dd {
    background: #F4FAFF;
    padding: 40px;
    @include smMax {
      padding: sm_vw(30) sm_vw(20);
    }
  }
  > dt:not(.is-active) + dd {
    display: none;
  }
}