@charset "utf-8";

//==========================================================================
//_mv.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-mv
//-----------------------------------------------------------------
.c-mv {
	background: no-repeat center / cover #000;
	.c-mv__inner {
		height: 240px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		@include smMax {
			height: sm_vw(150);
		}
	}
	.c-mv__breadcrumb {
		padding: 30px;
		background: #fff;
		position: relative;
		display: flex;
    justify-content: flex-end;
		@include smMax {
			padding: 0;
		}
		&:before {
			content: "";
			width: 100vw;
			height: 100%;
			background: #fff;
			position: absolute;
			top: 0;
			left: -99vw;
			@include smMax {
				height: sm_vw(40);
				top: sm_vw(-39.9);
				left: sm_vw(-60);
			}
		}
		li {
			font-size: 1.2rem;
			position: relative;
			@include smMax {
				display: none!important;
			}
			+ li {
				margin-left: 40px;
				&:before {
					content: "";
					width: 24px;
					height: 1px;
					background: $colorMain;
					position: absolute;
					top: 50%;
					left: -32px;
				}
			}
			a {
				color: $colorMain;
				@include smMin {
					&:after {
						content: "";
						position: absolute;
						bottom: -5px;
						left: 0;
						width: 0;
						height: 1px;
						background: $colorMain;
						transition: 0.2s ease;
					}
					&:hover:after {
						width: 100%;
					}
				}
			}
		}
	}
}
.c-mv-02 {
	background: no-repeat center / cover #000;
	.c-mv__inner {
		height: 320px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		@include smMax {
			height: sm_vw(150);
		}
	}
}