@charset "utf-8";

//==========================================================================
//_header.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-header
//-----------------------------------------------------------------

.l-header {
  background: #fff;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9000;
  box-shadow: 0 10px 20px 0 rgba(#00307C, 0.1);
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    @include lgMax {
      z-index: 8500;
      position: relative;
    }
    @include smMax {
      height: 60px;
    }
  }
}

.l-header-logo {
  @include lgMin {
    padding-left: 10px;
    width: auto;
    height: 80px;
  }
  @include lgMax {
    margin-left: 15px;
    width: 50px;
  }
  @include smMax {
    margin-left: 5px;
  }
}

.l-header-contact {
  @include lgMin {
    display: none;
  }
  @include lgMax {
    margin-right: 80px;
    background: url(/assets/images/ico_contact.svg) no-repeat center top 20px / 22px $colorMain;
    a {
      width: 100px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      color: #fff;
      font-size: 1rem;
      padding-bottom: 25px;
    }
  }
  @include smMax {
    background-position-y: 12px;
    margin-right: 60px;
    a {
      height: 60px;
      padding-bottom: 15px;
    }
  }
}

.l-header-menu {
  @include lgMin {
    display: none;
  }
  @include lgMax {
    color: transparent;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    z-index: 9001;
    background: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      display: block;
      background: $colorMain;
      width: 24px;
      height: 1px;
      position: relative;
      transition: background-color 100ms;
      margin-top: 6px;
      &:before,
      &:after {
        content: '';
        display: block;
        background: $colorMain;
        width: 24px;
        height: 1px;
        position: absolute;
        left: 0;
        transition: transform 200ms, top 200ms;
      }
      &:before {
        top: -6px;
        transform: rotate(0deg);
      }
      &:after {
        top: 6px;
        transform: rotate(0deg);
      }
    }
    b {
      color: $colorMain;
      font-size: 1rem;
      display: block;
      margin-top: 14px;
    }
    &.is-open {
      span {
        background: none;
        &:before,
        &:after {
          top: 0;
        }
        &:before {
          transform: rotate(225deg)
        }
        &:after {
          transform: rotate(-225deg)
        }
      }
    }
  }
  @include smMax {
    width: 60px;
  }
}

.l-header-nav {
  @include lgMin {
    display: block;
  }
  @include lgMax {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #F4FAFF;
    top: 79px;
    right: 0;
    z-index: 9000;
    opacity: 0;
    padding: 60px 30px 120px;
  }
  @include smMax {
    top: 59px;
  }
  &.is-open {
    @include lgMax {
      visibility: visible;
      opacity: 1;
      overflow: scroll;
    }
  }
  ul {
    display: flex;
    @include lgMax {
      display: block;
      width: 100%;
      border-bottom: solid 1px #DEE2E8;
    }
    li {
      display: flex;
      align-items: center;
      @include lgMin {
        justify-content: center;
        padding: 0 25px;
      }
      @include lgMax {
        border-top: solid 1px #DEE2E8;
      }
      > a {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        @include lgMin {
          position: relative;
        }
        @include lgMax {
          font-size: 1.8rem;
          font-weight: bold;
          width: 100%;
          padding: 20px 10px;
          justify-content: space-between;
        }
        &:after {
          @include lgMin {
            content: "";
            width: 100%;
            height: 1px;
            background: transparent;
            position: absolute;
            bottom: 0;
            left: 0;
            @include transition;
          }
        }
        &:hover {
          @include lgMin {
          }
        }
        i {
          @include lgMin {
            display: none;
          }
          @include lgMax {
            svg {
              stroke: $colorMain;
              width: sm_vw(12);
              height: sm_vw(12);
            }
          }
        }
      }
      &.under {
        @include lgMax {
          display: block;
        }
        @include lgMin {
          &:hover p:after {
            width: 100%;
          }
        }
        p {
          font-size: 1.6rem;
          @include lgMin {
            pointer-events: none;
            position: relative;
            &:after {
              content: "";
              width: 0;
              height: 1px;
              background: $colorMain;
              position: absolute;
              bottom: -10px;
              left: 0;
              transition: 0.2s ease;
            }
          }
          @include lgMax {
            width: 100%;
            font-size: 1.8rem;
            font-weight: bold;
            padding: 20px 10px;
            position: relative;
            &:before,
            &:after {
              content: "";
              width: sm_vw(12);
              height: 1px;
              background: $colorMain;
              position: absolute;
              top: 50%;
              right: 1vw;
              transition: 0.2s ease;
            }
            &:after {
              transform: rotate(90deg);
            }
            &.is-active:after {
              transform: rotate(180deg);
            }
          }
          @include smMax {
            &:before,
            &:after {
              right: sm_vw(10);
            }
          }
        }
        .under-menu {
          @include lgMin {
            display: none;
            width: 100%;
            background: #F4FAFF;
            position: absolute;
            top: 79px;
            left: 0;
            align-items: center;
            overflow: hidden;
          }
          @include lgMax {
            display: none;
          }
          dl {
            @include lgMin {
              padding: 60px 0;
              padding-left: 320px;
              position: relative;
            }
            @include lgMax {
              padding: 0 0 0 30px;
            }
            &:after {
              @include lgMin {
                content: "";
                width: 360px;
                height: 100%;
                background: no-repeat center / cover;
                position: absolute;
                top: 0;
                left: -100px;
              }
            }
            dt {
              @include lgMin {
                span {
                  font-family: $font-en;
                  font-size: 1.6rem;
                  color: $colorMain;
                  display: block;
                }
                b {
                  font-family: $font-serif;
                  font-size: 3.6rem;
                  display: block;
                  margin-top: 10px;
                  letter-spacing: 0.1em;
                }
              }
              @include lgMax {
                display: none;
              }
            }
            dd {
              @include lgMin {
                margin-top: 40px;
              }
              ul {
                @include lgMin {
                  display: flex;
                  flex-wrap: wrap;
                }
                @include lgMax {
                  border-bottom: none;
                }
                li {
                  @include lgMin {
                    border-top: solid 1px #DEE2E8;
                    border-bottom: solid 1px #DEE2E8;
                    padding: 0;
                    margin-right: 60px;
                    position: relative;
                    overflow: hidden;
                    &:before {
                      content: "";
                      width: 100%;
                      height: 100%;
                      background: rgba(#DEE2E8, 0.2);
                      position: absolute;
                      top: 0;
                      left: -100%;
                      transition: 0.2s ease;
                    }
                    &:hover:before {
                      left: 0;
                    }
                    &:nth-child(n + 4) {
                      border-top: none;
                    }
                    &:nth-child(3n) {
                      margin-right: 0;
                    }
                    a {
                      text-align: left;
                      width: 280px;
                      padding: 20px;
                      background: url(/assets/images/ico_arrow.svg) no-repeat center right 15px / 12px;
                    }
                  }
                  @include lgMax {
                    a {
                      font-weight: normal;
                      font-size: 1.4rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.under:hover {
        .under-menu {
          @include lgMin {
            display: flex;
            box-shadow: 0 10px 20px 0 rgb(0 48 124 / 10%);
          }
        }
      }
      &.under-service {
        .under-menu dl:after {
          @include lgMin {
            background-image: url(/assets/images/header_service.jpg);
          }
        }
      }
      &.under-company {
        .under-menu dl:after {
          @include lgMin {
            background-image: url(/assets/images/header_company.jpg);
          }
        }
      }
    }
    li.header-contact {
      @include lgMin {
        padding: 0;
        margin-left: 30px;
        position: relative;
        overflow: hidden;
        background: $colorMain;
        &:before {
          content: "";
          width: 100%;
          height: 100%;
          background: #3970C9;
          position: absolute;
          top: 0;
          left: -100%;
          transition: 0.2s ease;
        }
        &:hover:before {
          @include lgMin {
            left: 0;
          }
        }
        a {
          color: #fff;
          height: 80px;
          padding: 0 30px;
        }
      }
      @include lgMax {
        display: none;
      }
    }
  }
}