@charset "utf-8";

//==========================================================================
//_page.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-page
//-----------------------------------------------------------------
.l-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // padding-top: 80px;
  // @include smMax {
  //   padding-top: 60px;
  // }
}

